// vars

$primary-color: #EF6D58;
$primary-light-color: #fff;
$primary-bg-color: #28293E;
$paragraph-color: transparentize($primary-light-color, 0.64);
$secondary-color: #391400;
$secondary-opacity-color: transparentize($secondary-color, 0.64);
$paragraph-color: rgba(0,0,0,.5);